/*
 * General screen sizes:
 *
 * 0 - 600px:      Phone
 * 600 - 900px:    Tablet portrait (Tablet-port)
 * 900 - 1200px:   Tablet landscape (Tablet-land)
 * 1200 - 1800:    Normal Desktop
 * 1800px + :      Big desktop
 * 1em = 16px without scaling
 */

/*
 * =========
 * Base Page 
 * =========
 */

/* Resets all HTML element's CSS */
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/* Set custom properties */
:root {
  --primary-color: #540808; /* red */
  --secondary-color: #fff; /* white */
  --accent-color: #f8f6f0; /* gray */
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; 
}
/* Tablet-land */
@media only screen and (max-width: 75em) {
  html {
    font-size: 59%; 
  }
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
/* Big Desktop */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

/*
 * =================
 * Standard Elements 
 * =================
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible{
  outline: 2px solid var(--primary-color);
}

/*
 * ============
 * Home section
 * ============
 */

.home_heading {
  font-size: 6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}

.home_text {
  color: var(--secondary-color);
  font-size: 2.2rem;
  line-height: 1.6;
  text-align: center;
  width: 100%;
}

/* Phone */
@media only screen and (max-width: 37.5em) {
  .home_text {
    font-size: 2rem;
  }
}

.invisible {
  display: none;
}

.home {
  background: var(--primary-color);
  background-position: center;
  color: var(--secondary-color);
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

/* Phone */
@media only screen and (max-width: 37.5em) {
  .home {
    height: unset;
    min-height: unset;
  }
}

.home_socials {
  border: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Phone, Tab-port */
@media only screen and (max-width: 56.25em) {
  .home_socials {
    display: none;
  }
}

.home_social {
  width: 5rem;

}

.home_social_link {
  display: block;
  padding: 1.2rem;
  transition: background .3s;
  width: 100%;
}

.home_social_link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.home_social_link_borderless {
  border-bottom: 0;
}

.home_social_icon {
  width: 100%;
}

.home_content {
  left: 50%;
  max-width: 90rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
}

@media only screen and (max-width: 37.5em) {
  .home_content {
    margin: auto;
    padding: 19rem 0 13rem 0;
    position: static;
    transform: translate(0, 0);
  }
}

.home_text_wrapper {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.home_button_wrapper {
  margin-top: 5rem;
  text-align: center;
}

/* Headings */

/* Phone */
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 4.5rem;
  }    
}

.heading_big {
  margin-bottom: 11rem;
}
/* Tablet-port */
@media only screen and (max-width: 56.25em) {
  .heading_big {
    margin-bottom: 8rem;
  }
}

.heading_med {
  margin-bottom: 9rem;
}
/* Tablet-port */
@media only screen and (max-width: 56.25em) {
  .heading_med {
    margin-bottom: 8rem;
  }
}

.heading_section {
  display: block;
  font-size: 4rem;
  letter-spacing: 3px;
  margin-bottom: 3.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.heading_section::after {
  background: var(--primary-color);
  border-radius: 5px;
  content: '';
  height: 5px;
  left: 50%;
  position: absolute;
  top: calc(100% + 1.5rem);
  transform: translateX(-50%);
  width: 3rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .heading_section::after {
    top: calc(100% + 1.2rem);
  }
}
.heading_small {
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section_wrapper {
  margin: auto;
  max-width: 120rem;
  width: 92%;
}

.button {
  background: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  color: var(--primary-color);
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform .3s;
}
.button:hover {
  transform: translateY(-3px);
}
.button_big {
  font-size: 2rem;
  padding: 1.5rem 8rem;
}
.button_med {
  font-size: 1.6rem;
  padding: 1.5rem 5rem;
}
.button_colored {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.section_pad {
  padding: 12rem 0;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .section_pad {
    padding: 8rem 0;
  }
}

/* Sections */

.section_dark{
  background: var(--accent-color);
	color: var(--primary-color);
 }

 .section_light {
	 background: white;
	 color: var(--primary-color);
 }


/* About section special formatting */

.about_content {
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 56.25em){
  .about_content {
    grid-gap: 8rem;
    grid-template-columns: 1fr;
  }
}
.about_header {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .about_header {
    font-size: 2.4rem;
  }
}

.about_text {
  color: grey;
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  max-width: 60rem;
}

.about_text:last-child {
  margin-bottom: 4rem;
}

/* List formatting */

.list_row{
  grid-gap: 5rem;
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 11rem;
}

/* Phone, Tab-port */
@media only screen and (max-width: 56.25em) {
  .list_row{
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin-bottom: 8rem;
    text-align: center;
  }
}

.list_row:last-child {
  margin-bottom: 0;
}

.list_row_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em){
  .list_row_content {
    align-items: center;
  }
}

.list_row_content_header {
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .list_row_content_header {
    font-size: 2.4rem;
  }
}

.list_row_detail {
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  width: 100%;
}

/* Page Header */

.header {
  background: var(--secondary-color);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_wrapper {
    padding: 0 2rem;
  }
}
.header_logo_wrapper {
  align-items: center;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  transition: color .3s;
}
.header_logo_wrapper:hover {
  color: var(--primary-color);
}

.header_logo_img_wrapper {
  background: var(--primary-color);
  border-radius: 50px;
  height: 6.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  width: 6.5rem;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_logo_img_wrapper {
    height: 5.5rem;
    margin-right: 1.2rem;
    width: 5.5rem;
  }
}
.header_logo_img {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.header_logo_name {
  font-size: 2.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header_links {
  display: flex;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .header_links {
		display: none;
	}
}

.header_link {
  color: var(--primary-color);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 2.2rem 3rem;
  text-transform: uppercase;
  transition: color .3s;
}
.header_link:hover {
  color: var(--primary-color);
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .header_link {
    font-size: 1.5rem;
    padding: 3rem 1.8rem;
  }
}

.header_menu_wrapper {
  display: none;
  padding: 2.2rem 0;
  width: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .header_menu_wrapper {
    display: block;
  }
}
.header_menu {
  width: 100%;
}
.header_menu_open {
  width: 100%;
}

.header_expanded {
  background: var(--secondary-color);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  transition: all .3s;
  width: 100%;
}
.header_expanded--active {
  opacity: 0;
  visibility: hidden;
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .header_expanded--active {
    opacity: 1;
    visibility: visible;
  }
}
.header_expanded_link a {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: block;
	font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 2.5rem 3rem;
  text-decoration: none;
  text-align: right;
  text-transform: uppercase;
  transition: color .3s;
}
.header_expanded_link a:hover {
  color: var(--primary-color);
}
.header_expanded_link:first-child a {
  border-top: 1px solid var(--primary-color);
}

/* Skills List */
.skills {
	display: flex;
	flex-wrap: wrap;
}

.skills_skill {
	background: rgba(153, 153, 153, 0.2);
	color: var(--primary-color);
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
	margin-right: 1.5rem;
	padding: 1rem 2rem;
}


/* Page Footer */

.footer {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.footer_upper {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0; 
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_upper {
    padding: 6rem 0;
  }
}
/* Phone */
@media only screen and (max-width: 37.5em) {
  .footer_upper {
    display: block;
  }
}
.footer_row_1 {
  order: 2;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_row_1 {
    margin-bottom: 5rem;
  }
}
.footer_row_2 {
  max-width: 50rem;
  order: 1;
  width: 40%;
}
/* Phone, Tablet-port */
@media only screen and (max-width: 56.25em) {
  .footer_row_2 {
    width: 100%;
  }
}

.footer_desc {
  color: var(--secondary-color);
  font-size: 1.5rem;
  line-height: 1.7;
  margin-top: 2rem;
}

.footer_socials {
  margin-top: 2rem;
}
.footer_icon {
  margin-right: 1rem;
  width: 2.5rem;
}
.footer_icon--mr-none {
  margin-right: 0;
}
.footer_lower {
  color: var(--secondary-color);
  font-size: 1.2rem;
  padding: 4rem 0;
  text-align: center;
}
.footer_lower a {
  font-weight: bold;
  margin-left: 2px;
  text-decoration: underline;
}
@media only screen and (max-width: 56.25em) {
  .footer_lower {
    padding: 3.5rem 0;
  }
}
